<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.name }}</h2>

    <div class="footer-column">
      <ul class="social-media">
        <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope-square"></i>{{ site.email }}</a></li>
        <li><a href="tel:099127710"><i class="fa fa-phone-square"></i>099127710</a></li>
        <li><a href="{{ site.facebook_url }}"><i class="fa fa-facebook-square"></i>dsteel</a></li>
      </ul>
    </div>

    <div class="logos">
      <ul>
        <li><img src="{{ site.baseurl }}/images/logos/logo-betinelli.jpg" alt="logo Betinelli"></li>
        <li><img src="{{ site.baseurl }}/images/logos/logo-ceresita.png" alt="logo ceresita"></li>
        <li><img src="{{ site.baseurl }}/images/logos/logo-m3.png" alt="logo m3"></li>
        <li><img src="{{ site.baseurl }}/images/logos/logo-pinturas-del-sol.jpg" alt="logo pinturas del sol"></li>
      </ul>
    </div>

  </div>

</footer>
