<header class="site-header">

  <div class="wrap">
    <h1>
      <a class="site-title" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/images/logos/dsteel.png" alt="{{ site.name }}">
      </a>
    </h1>
      
    <nav class="site-nav">
      <div class="trigger">
        <ul>
          <li>
            <a class="page-link" href="{{ site.baseurl }}/">Obras</a>
          </li>
          <li>
            <a class="page-link" href="{{ '/metodos-constructivos' | prepend: site.baseurl }}">Métodos Constructivos</a>
          </li>
          <li>
            <a class="page-link" href="{{ '/por-que-uruguay' | prepend: site.baseurl }}">Por qué Uruguay</a>
          </li>
          <li>
            <a class="page-link" href="{{ '/contacto' | prepend: site.baseurl }}">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>

</header>
