<header class="site-header">

  <div class="wrap">
    <h1>
      <a class="site-title" href="{{ site.baseurl }}">{{ site.name }}</a>
    </h1>
      
    <nav class="site-nav">
      <div class="trigger">
        <ul>
          <li>
            <a class="page-link" href="{{ '/metodos_constructivos' | prepend: site.baseurl }}">Métodos Constructivos</a>
          </li>
          <li>
            <a class="page-link" href="{{ '/por_que_uruguay' | prepend: site.baseurl }}">Por qué Uruguay</a>
          </li>
          <li>
            <a class="page-link" href="{{ '/contacto' | prepend: site.baseurl }}">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>

</header>
